<mat-nav-list color="prime">
  <a
      mat-list-item
      routerLink="/combo">
    <mat-icon>check_box</mat-icon>&nbsp;Combo Box
  </a>
  <a
      mat-list-item
      routerLink="/text-autocomplete">
    <mat-icon>font_download</mat-icon>&nbsp;Autocomplete Text
  </a>
  <a
      mat-list-item
      routerLink="/text-box">
    <mat-icon>text_fields</mat-icon>&nbsp;Text Box
  </a>
  <a
      mat-list-item
      routerLink="/personalized-input">
    <mat-icon>sort_by_alpha</mat-icon>&nbsp;Personalizes Input
  </a>
  <a
      mat-list-item
      routerLink="/autocomplete-complex">
    <mat-icon>public</mat-icon>&nbsp;Autocomplete Complex Example
  </a>
  <a
      mat-list-item
      routerLink="/multi-select">
    <mat-icon>receipt</mat-icon>&nbsp;Multi-select
  </a>
  <a
      mat-list-item
      routerLink="/time-and-date">
    <mat-icon>watch_later</mat-icon>&nbsp;Time and Date
  </a>
  <a
      mat-list-item
      routerLink="/real-world-example">
    <mat-icon>format_shapes</mat-icon>&nbsp;Real World Example
  </a>
</mat-nav-list>
