<mat-nav-list color="prime">
  <a
      mat-list-item
      routerLink="/combo">
    <mat-icon>check_box</mat-icon>&nbsp;Combo Box
  </a>
  <a
      mat-list-item
      routerLink="/text-autocomplete">
    <mat-icon>font_download</mat-icon>&nbsp;Autocomplete Text
  </a>
  <a
      mat-list-item
      routerLink="/text-box">
    <mat-icon>text_fields</mat-icon>&nbsp;Text Box
  </a>
  <a
      mat-list-item
      routerLink="/personalized-input">
    <mat-icon>sort_by_alpha</mat-icon>&nbsp;Personalizes Input
  </a>
</mat-nav-list>