<div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem">
  <mat-form-field>
    <input
        matInput
        type="text"
        fgRestrictInput="integer"
        placeholder="Insert an integer">
  </mat-form-field>

  <mat-form-field>
    <input
        matInput
        type="text"
        fgRestrictInput="float"
        placeholder="Insert an float number">
  </mat-form-field>

  <mat-form-field>
    <input
        matInput
        type="text"
        fgRestrictInput="phone"
        placeholder="Insert your phone number">
  </mat-form-field>

  <mat-form-field>
      <input
          matInput
          type="text"
          fgRestrictInput="email"
          placeholder="Insert your phone email">
    </mat-form-field>
</div>