@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "@progress/kendo-theme-material";

html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  &:hover, &:active {
    color: lightgrey;
  }
  color: white;
  text-decoration: none;
}

mat-form-field, kendo-textbox-container, kendo-timepicker {
  width: 25rem;
  margin: 2rem;
}
