<mat-form-field>
  <input
      type="text"
      placeholder="Choose the food you like most..."
      matInput
      [formControl]="foodControl"
      [matAutocomplete]="autoFood">
  <mat-autocomplete
        autoActiveFirstOption
        [displayWith]="displayFunction"
        #autoFood="matAutocomplete">
    <mat-option
        *ngFor="let food of filteredFoods | async"
        [value]="food">
      {{ food.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<fg-message
    [message]="{title: 'You\'ve choose to eat'}"
    *ngIf="chosenFood()">

<mat-list role="list">
  <mat-list-item role="listitem">
    <strong>Food name:</strong>&nbsp;{{ chosenFood() }}
  </mat-list-item>
</mat-list>

</fg-message>
